@* 
@{
    Layout = null;
}

<ul class="metismenu" id="menu">
	<li class="menu-label">Web Apps</li>
	<li>
		<a href="emailbox.html">
			<div class="parent-icon icon-color-2">
				<i class="bx bx-envelope"></i>
			</div>
			<div class="menu-title">Email</div>
		</a>
	</li>

	<li>
		<a href="user-profile.html">
			<div class="parent-icon icon-color-4">
				<i class="bx bx-user-circle"></i>
			</div>
			<div class="menu-title">User Profile</div>
		</a>
	</li>

	<li>
		<a class="has-arrow" href="javascript:;">
			<div class="parent-icon icon-color-3">
				<i class="bx bx-lock"></i>
			</div>
			<div class="menu-title">Authentication</div>
		</a>
		<ul>
			<li>
				<a href="authentication-login.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Login</a>
			</li>
			<li>
				<a href="authentication-register.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Register</a>
			</li>
			<li>
				<a href="authentication-forgot-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Forgot Password</a>
			</li>
			<li>
				<a href="authentication-reset-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Reset Password</a>
			</li>
			<li>
				<a href="authentication-lock-screen.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Lock Screen</a>
			</li>
		</ul>
	</li>


</ul>
 *@